# Python Lists, Tuples & Dictionaries

### Lists

In [1]:
a = [4,3,7,22,42]

In [2]:
len(a)

5

In [3]:
a.append(23)

In [4]:
a

[4, 3, 7, 22, 42, 23]

In [5]:
a.remove(22)

In [6]:
a

[4, 3, 7, 42, 23]

In [7]:
a[3]

42

In [8]:
a[-1]

23

In [9]:
a[2:5]

[7, 42, 23]

In [10]:
a[3:]

[42, 23]

In [11]:
a[:3]

[4, 3, 7]

In [12]:
type(a)

list

In [13]:
a.append('hello')

In [14]:
a.append(True)

In [15]:
a.append(22.24)

In [16]:
a

[4, 3, 7, 42, 23, 'hello', True, 22.24]

In [17]:
len(a)

8

In [18]:
a.insert(3,'black')

In [19]:
a

[4, 3, 7, 'black', 42, 23, 'hello', True, 22.24]

In [20]:
a.pop()

22.24

In [21]:
a

[4, 3, 7, 'black', 42, 23, 'hello', True]

In [22]:
x = [4,3,'hello']
y = [True,44,'hi','working']
x+y

[4, 3, 'hello', True, 44, 'hi', 'working']

In [23]:
[x[2],y[1]]

['hello', 44]

In [24]:
z = ['n','a',41]

In [25]:
x.append(z)

In [26]:
x

[4, 3, 'hello', ['n', 'a', 41]]

In [27]:
'hello' in z

False

In [28]:
41 in z

True

In [29]:
zc = z.copy()

In [30]:
zc

['n', 'a', 41]

In [31]:
z

['n', 'a', 41]

In [32]:
zc.append(55)

In [33]:
zc

['n', 'a', 41, 55]

In [34]:
z

['n', 'a', 41]

In [35]:
m = [44,22,1,93,23]

In [36]:
m

[44, 22, 1, 93, 23]

In [37]:
m.reverse()

In [38]:
m

[23, 93, 1, 22, 44]

In [39]:
m.sort()

In [40]:
m

[1, 22, 23, 44, 93]

In [43]:
m[3] = 90

In [44]:
m

[1, 22, 23, 90, 93]

In [45]:
m[1] = 'hi'

In [46]:
m

[1, 'hi', 23, 90, 93]

In [73]:
m.clear()

In [74]:
m

[]

### Tuples

In [47]:
a = (4,3,7,22,42)

In [48]:
len(a)

5

In [49]:
a.append(23)

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
a

(4, 3, 7, 22, 42)

In [51]:
a.remove(22)

AttributeError: 'tuple' object has no attribute 'remove'

In [52]:
a

(4, 3, 7, 22, 42)

In [53]:
a[3]

22

In [54]:
a[-1]

42

In [55]:
a[2:5]

(7, 22, 42)

In [56]:
a[3:]

(22, 42)

In [57]:
a[:3]

(4, 3, 7)

In [58]:
type(a)

tuple

In [59]:
a.append('hello')

AttributeError: 'tuple' object has no attribute 'append'

In [60]:
a.append(True)

AttributeError: 'tuple' object has no attribute 'append'

In [61]:
a.append(22.24)

AttributeError: 'tuple' object has no attribute 'append'

In [62]:
a

(4, 3, 7, 22, 42)

In [63]:
len(a)

5

In [64]:
a.insert(3,'black')

AttributeError: 'tuple' object has no attribute 'insert'

In [65]:
a

(4, 3, 7, 22, 42)

In [66]:
a.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [67]:
a

(4, 3, 7, 22, 42)

In [68]:
x = (4,3,'hello')
y = (True,44,'hi','working')
x+y

(4, 3, 'hello', True, 44, 'hi', 'working')

In [69]:
(x[2],y[1])

('hello', 44)

In [70]:
z = ('n','a',41)
x = ()

In [71]:
x.append(z)

AttributeError: 'tuple' object has no attribute 'append'

In [72]:
x

()

In [75]:
'hello' in z

False

In [76]:
41 in z

True

In [77]:
zc = z.copy()

AttributeError: 'tuple' object has no attribute 'copy'

In [31]:
z

['n', 'a', 41]

In [34]:
z

['n', 'a', 41]

In [80]:
m = (44,22,1,93,23)

In [81]:
m

(44, 22, 1, 93, 23)

In [82]:
m.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [83]:
m

(44, 22, 1, 93, 23)

In [84]:
m.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [85]:
m

(44, 22, 1, 93, 23)

In [86]:
m[3] = 90

TypeError: 'tuple' object does not support item assignment

In [87]:
m

(44, 22, 1, 93, 23)

In [88]:
m[1] = 'hi'

TypeError: 'tuple' object does not support item assignment

In [89]:
m

(44, 22, 1, 93, 23)

In [90]:
m.clear()

AttributeError: 'tuple' object has no attribute 'clear'

### Dictionaries

In [2]:
book1 = {
    'name': 'The Dhoni Touch',
    'pages': 90,
    'price': 640.22,
    'sold': False
}

In [5]:
book2 = dict(
    name= 'Immortals of Meluha',
    pages= 144,
    price= 911.66,
    sold= False
)

In [6]:
book1['name']

'The Dhoni Touch'

In [7]:
book2['sold']

False

In [8]:
type(book1)

dict

In [9]:
book1['genre']

KeyError: 'genre'

In [10]:
book1.get('name')

'The Dhoni Touch'

In [11]:
book1.get('genre')

In [12]:
book1.get('genre','No such key')

'No such key'

In [14]:
'name' in book1

True

In [15]:
'genre' in book2

False

In [16]:
book1['price']

640.22

In [17]:
book1['price'] = 702.77

In [18]:
book1['price']

702.77

In [19]:
book1

{'name': 'The Dhoni Touch', 'pages': 90, 'price': 702.77, 'sold': False}

In [20]:
book1['genre'] = 'sports'

In [21]:
book1

{'name': 'The Dhoni Touch',
 'pages': 90,
 'price': 702.77,
 'sold': False,
 'genre': 'sports'}

In [22]:
book1.pop('genre')

'sports'

In [23]:
book1

{'name': 'The Dhoni Touch', 'pages': 90, 'price': 702.77, 'sold': False}

In [25]:
book2['popularity'] = 'high'

In [26]:
book2

{'name': 'Immortals of Meluha',
 'pages': 144,
 'price': 911.66,
 'sold': False,
 'popularity': 'high'}

In [27]:
del book2['popularity']

In [28]:
book2

{'name': 'Immortals of Meluha', 'pages': 144, 'price': 911.66, 'sold': False}

In [29]:
book1.keys()

dict_keys(['name', 'pages', 'price', 'sold'])

In [30]:
book2.values()

dict_values(['Immortals of Meluha', 144, 911.66, False])

In [31]:
book1.items()

dict_items([('name', 'The Dhoni Touch'), ('pages', 90), ('price', 702.77), ('sold', False)])

In [32]:
for i in book1.values():
    print(i)

The Dhoni Touch
90
702.77
False

In [33]:
for k,v in book1.items():
    print(f"{k} - {v}")

name - The Dhoni Touch
pages - 90
price - 702.77
sold - False