# Python Strings

### String basics

In [1]:
x = 'SomeString'

In [2]:
x[8]

'n'

In [3]:
x[2]

'm'

In [4]:
x[3] = 'r'

TypeError: 'str' object does not support item assignment

In [5]:
x[4:9]

'Strin'

In [6]:
x[-1]

'g'

In [7]:
x[-1:]

'g'

In [8]:
x[:-1]

'SomeStrin'

In [9]:
x[3:]

'eString'

### More String operations

In [1]:
st = 'I am working today'

In [2]:
'am' in st

True

In [3]:
'was' in st

False

In [4]:
'' in st

True

In [5]:
'your'+'name'

'yourname'

In [8]:
a = 'we'
b = 'won'
a+' '+b

'we won'

In [9]:
z = """
This is 
a multi
line 
string
"""
z

'\nThis is \na multi\nline \nstring\n'

In [26]:
'hello' == 'hello'

True

In [27]:
'hello' == 'Hello'

False

In [28]:
'hello' != 'Hello'

True

### String functions

In [10]:
m = 'Today is Tuesday'

In [11]:
m.lower()

'today is tuesday'

In [12]:
m.upper()

'TODAY IS TUESDAY'

In [13]:
m.capitalize()

'Today is tuesday'

In [14]:
m.replace('Today','Tomorrow')

'Tomorrow is Tuesday'

In [15]:
m.split(' ')

['Today', 'is', 'Tuesday']

In [16]:
"          hwllo with         spaces   and bye   ".strip()

'hwllo with         spaces   and bye'

In [19]:
some_str = '{} is {}, and we have {} classes today'
some_str.format('Today','Tuesday','HPC')

'Today is Tuesday, and we have HPC classes today'

In [20]:
x = 7
y = str(x)

In [21]:
print('I am '+x+' years old')

TypeError: can only concatenate str (not "int") to str

In [22]:
print('I am '+y+' years old')

I am 7 years old

In [24]:
print(f"i am {x} years old")

i am 7 years old

In [25]:
print(f'{2} + {3} = {2+3}')

2 + 3 = 5