# Python Numpy

### Zip function

In [1]:
x = ['james','tony','bob']

In [2]:
y = [34,41,36]

In [3]:
for i,j in zip(x,y):
    print(f"{i} is {j} years old")

james is 34 years old
tony is 41 years old
bob is 36 years old

### Numpy arrays

In [4]:
import numpy as np

In [5]:
arr = np.array([5,2,6,8])

In [6]:
arr

array([5, 2, 6, 8])

In [7]:
type(arr)

numpy.ndarray

In [8]:
arr[2]

6

In [9]:
len(arr)

4

### Numpy operations

In [12]:
x = [4,7,2]
y = [2,5,9]

In [13]:
# Can't perform element-wise operation with python lists
x * y

TypeError: can't multiply sequence by non-int of type 'list'

In [14]:
p = np.array([4,7,2])
q = np.array([2,5,9])

In [15]:
p * q

array([ 8, 35, 18])